<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="exportkit.xd" >

	

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="@string/app_name" >
		<activity
		android:name=".automa_parking_activity" android:exported="true"
		android:configChanges="orientation|keyboardHidden|screenSize"
		android:label="@string/app_name"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

			<activity android:name="exportkit.xd.records_activity"></activity>
			<activity android:name="exportkit.xd.checkout_activity"></activity>
			<activity android:name="exportkit.xd.welcome_coffee_activity"></activity>
			<activity android:name="exportkit.xd.start_activity"></activity>
			<activity android:name="exportkit.xd.selection_activity"></activity>
			<activity android:name="exportkit.xd.contact_us_activity"></activity>
			<activity android:name="exportkit.xd.profile_activity"></activity>
			<activity android:name="exportkit.xd.login_activity"></activity>
			<activity android:name="exportkit.xd.sign_up_activity"></activity>
	</application>

</manifest>
	
	