<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="exportkit.xd">

    <application
        android:label="AutomaParking"
        android:allowBackup="true"
        android:roundIcon="@mipmap/logo"
        android:theme="@style/AppTheme">
        <activity android:name=".EditOrder"></activity>
        <activity android:name=".AddOrder" />
        <activity android:name=".Records" />
        <activity android:name=".automa_parking_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcome_coffee_activity" />
        <activity android:name=".start_activity" />
        <activity android:name=".selection_activity" />
        <activity android:name=".contact_us_activity" />
        <activity android:name=".profile_activity" />
        <activity android:name=".login_activity" />
        <activity android:name=".sign_up_activity" />

    </application>

</manifest>